@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 5px;
  width: 70%;
  margin: 40px auto;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar .logo {
  width: 10%;
}
.navbar .logo img {
  width: 90.81px;
  height: 60px;
}
.navbar-links {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  font-style: normal;
}
.navbar-links .services-link {
  position: relative;
  display: inline-block;
  padding: 5px 0;
}
.navbar-links .services-link::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 3px;
  bottom: 0;
  left: 19px;
  background: #b00000;
  border-radius: 10px;
}
.navbar-links .services-link:hover {
  cursor: pointer;
}
.navbar-links .navbar-links-right li, .navbar-links-right .navbar-links li, .navbar-links .navbar-links-center li, .navbar-links-center .navbar-links li {
  margin: 0 20px;
}
.navbar-links .navbar-links-right li:hover, .navbar-links-right .navbar-links li:hover, .navbar-links .navbar-links-center li:hover, .navbar-links-center .navbar-links li:hover {
  cursor: pointer;
}
.navbar-links-center {
  display: flex;
}
.navbar-links-right {
  display: flex;
}
.navbar-links-right li i {
  color: #b00000;
}
.navbar-links-right span {
  border: 1px solid #dad8d8;
}

main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .container-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main .container-content .menu ul {
  display: flex;
}
main .container-content .menu ul li {
  position: relative;
  margin: 20px 30px 20px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  font-style: normal;
  color: rgba(214, 212, 212, 0.88);
  padding-bottom: 10px;
}
main .container-content .menu ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: rgba(214, 212, 212, 0.88);
}
main .container-content .menu ul .selected-li {
  color: #b00000;
}
main .container-content .menu ul .selected-li::after {
  background: #b00000;
}
main .container-content .title {
  width: 608px;
  height: 233px;
}
main .container-content .title h2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
}
main .container-content .description {
  width: 435px;
  height: 56px;
  margin: 35px 0;
}
main .container-content .description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
}
main .container-content .btns {
  margin-top: 60px;
}
main .container-content .btns button {
  margin-right: 20px;
  color: white;
  width: 160px;
  height: 50px;
  background: #b00000;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins";
}
main .container-content .btns .btn1 {
  box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
  border: 2px solid transparent;
}
main .container-content .btns .btn2 {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
main .container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.information {
  width: 70%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}
.information-container-1 {
  display: flex;
  justify-content: space-between;
}
.information-container-1 .description {
  width: 45%;
  color: #18191f;
}
.information-container-1 .description h3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 40px;
}
.information-container-1 .description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.information-container-1 .companies {
  width: 50%;
}
.information-container-1 .companies ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 100px 10px;
}
.information-container-1 .companies ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-container-1 .companies ul li img {
  width: 150px;
}
.information-container-2 .services-list {
  margin: 80px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.information-container-2 .services-list .boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
  color: #000000;
}
.information-container-2 .services-list .boxes img {
  width: 100px;
  height: 100px;
  margin: 15px 0;
}
.information-container-2 .services-list .boxes h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0;
}
.information-container-2 .services-list .boxes p {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.payment-plan {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.payment-plan .content-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
.payment-plan .content-container .title {
  text-align: center;
}
.payment-plan .content-container .title h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
}
.payment-plan .content-container .title h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  margin: 50px 0;
}
.payment-plan .content-container .data-selector {
  display: flex;
  justify-content: center;
}
.payment-plan .content-container .data-selector input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.payment-plan .content-container .data-selector input[type=checkbox]:checked + label {
  background: #b00000;
}
.payment-plan .content-container .data-selector input[type=checkbox]:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.payment-plan .content-container .data-selector label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 30px;
  background: #b00000;
  display: block;
  border-radius: 100px;
  position: relative;
}
.payment-plan .content-container .data-selector label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.payment-plan .content-container .data-selector label:active:after {
  width: 30px;
}
.payment-plan .content-container .data-selector h4 {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  margin: 0 30px;
}
.payment-plan .content-container .data-selector .year-discount {
  position: relative;
}
.payment-plan .content-container .data-selector .year-discount::after {
  content: "20% discount";
  font-weight: 900;
  font-size: 10px;
  padding: 8px;
  background-color: #ffe87a;
  border-radius: 8px;
  width: 70px;
  height: 24px;
  position: absolute;
  z-index: 2;
  top: -60%;
  left: 120%;
}
.payment-plan .content-container .subscribe-lvl {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.payment-plan .content-container .subscribe-lvl .active {
  border-color: #b00000;
}
.payment-plan .content-container .subscribe-lvl h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  padding: 0 100px;
  border-bottom: 4px solid #c4c4c4;
}
.payment-plan .packages {
  display: flex;
  justify-content: space-around;
  margin: 85px 0;
}
.payment-plan .packages .box {
  width: 300px;
  height: 740px;
  padding: 35px;
  border: 1.5px solid #c4c4c4;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.payment-plan .packages .box h3 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
}
.payment-plan .packages .box p {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 28px;
}
.payment-plan .packages .box h1 {
  font-weight: 900;
  font-size: 42px;
}
.payment-plan .packages .box h4 {
  font-weight: 300;
  font-size: 14px;
}
.payment-plan .packages .box button {
  margin: 40px 0;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 10px 50px;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  font-family: "Poppins";
}
.payment-plan .packages .box .privilege-list {
  line-height: 36px;
}
.payment-plan .packages .box .privilege-list i {
  font-weight: 900;
  font-size: 20px;
  margin-right: 20px;
}
.payment-plan .packages .box .privilege-list span {
  font-size: 16px;
  color: #808080;
  font-weight: 900;
}

.stories-section {
  width: 70%;
  margin: 50px auto;
  position: relative;
}
.stories-section-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.stories-section-container-title {
  color: red;
  position: relative;
  width: 445px;
}
.stories-section-container-title img {
  position: absolute;
  top: -30%;
  left: -23%;
  width: 142.37px;
  height: 120px;
  opacity: 0.3;
  z-index: -2;
}
.stories-section-container-title h1 {
  font-weight: 900;
  font-size: 48px;
  color: #18191f;
}
.stories-section-container-title h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}
.stories-section-container-boxes {
  width: 100%;
  height: 552px;
  position: relative;
}
.stories-section-container-boxes .box3, .stories-section-container-boxes .box2, .stories-section-container-boxes .box1 {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  padding: 0 32px;
}
.stories-section-container-boxes .box3 .description, .stories-section-container-boxes .box2 .description, .stories-section-container-boxes .box1 .description {
  position: relative;
}
.stories-section-container-boxes .box3 .description img, .stories-section-container-boxes .box2 .description img, .stories-section-container-boxes .box1 .description img {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: -10%;
  opacity: 50%;
}
.stories-section-container-boxes .box3 .description p, .stories-section-container-boxes .box2 .description p, .stories-section-container-boxes .box1 .description p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 25px;
}
.stories-section-container-boxes .box3 .description h3, .stories-section-container-boxes .box2 .description h3, .stories-section-container-boxes .box1 .description h3 {
  font-weight: 700;
  font-size: 18px;
  color: #18191f;
}
.stories-section-container-boxes .box3 .description h5, .stories-section-container-boxes .box2 .description h5, .stories-section-container-boxes .box1 .description h5 {
  font-weight: 500;
  font-size: 14px;
  color: #969bab;
}
.stories-section-container-boxes .box1 {
  position: absolute;
  top: 5%;
  left: 8%;
  width: 350px;
  height: 468px;
}
.stories-section-container-boxes .box1 img {
  width: 120px;
  height: 120px;
}
.stories-section-container-boxes .box2 {
  position: absolute;
  top: -20%;
  left: 50%;
  width: 445px;
  height: 350px;
}
.stories-section-container-boxes .box2 img {
  width: 78.87px;
  height: 50px;
  margin: 20px 0;
}
.stories-section-container-boxes .box2 .description img {
  top: -11%;
  left: -7%;
}
.stories-section-container-boxes .box3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 276px;
}
.stories-section-container-boxes .box3 img {
  margin: 20px auto;
  width: 120px;
  height: 63px;
}
.stories-section-container-boxes .box3 .description img {
  top: -15%;
}
.stories-section-footer {
  margin: 80px auto;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
}
.stories-section-footer-description {
  width: 445px;
}
.stories-section-footer-description h1 {
  font-weight: 800;
  font-size: 48px;
  color: #18191f;
  margin-bottom: 10px;
}
.stories-section-footer-description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}
.stories-section-footer-companies {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
}
.stories-section-footer-companies img {
  width: 120px;
}

.get_in_touch {
  position: relative;
  width: 70%;
  margin: 80px auto;
}
.get_in_touch .triangle3, .get_in_touch .triangle2, .get_in_touch .triangle1 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 0 40px;
  border-color: transparent transparent transparent #b00000;
}
.get_in_touch .triangle1 {
  top: 70%;
  left: -1%;
}
.get_in_touch .triangle2 {
  top: 0;
  left: 35%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.get_in_touch .triangle3 {
  top: 75%;
  right: -2%;
  border-width: 72px 0 0 72px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.get_in_touch-content-box {
  width: 100%;
  height: 432px;
  left: 90px;
  top: 3960px;
  background: #f7fafe;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get_in_touch-content-box h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 88px;
  text-align: center;
  color: #2e2e2e;
  margin: 0 200px;
}
.get_in_touch-content-box button {
  width: 208px;
  height: 48px;
  background: #b00000;
  border-radius: 8px;
  margin: 50px auto;
  border: 1px solid transparent;
  color: #fff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}
.get_in_touch-content-box button i {
  font-size: 20px;
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
