@media screen and (max-width: 1500px) {
  .navbar {
    width: 90%;
  }

  main {
    width: 90%;

    .container-content {
      .title {
        width: 508px;
        height: 153px;
        h2 {
          font-size: 44px;
        }
      }
    }
    .container-image {
      width: 50%;
      img {
        width: 90%;
      }
    }
  }

  .information {
    width: 90%;
    .description {
      h3 {
        font-size: 38px;
      }
      p {
        font-size: 15px;
      }
    }

    .information-container-2 {
      .services-list {
        flex-wrap: wrap;
      }
    }
  }

  .payment-plan {
    width: 90%;
    .content-container {
      .title {
        h1 {
          font-size: 52px;
        }
      }
    }
    .packages {
      flex-wrap: wrap;
    }
  }

  .stories-section {
    width: 90%;
    &-container {
      &-title {
        h1 {
          font-size: 38px;
          width: 360px;
        }
      }
      &-boxes {
        .box1 {
          left: 3%;
        }
      }
    }
    &-footer {
      &-description {
        h1 {
          font-size: 38px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }

  .get_in_touch {
    width: 90%;
    &-content-box {
      h1 {
        font-size: 50px;
      }
    }
  }

  footer {
    .links {
      width: 100%;
      &-box1 {
        p {
          width: 290px;
        }
      }
      &-box1,
      &-box2 {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    .logo {
      img {
        width: 80px;
        height: 50px;
      }
    }
    &-links {
      font-size: 12px;
    }
  }

  main {
    .container-content {
      .title {
        width: 408px;
        height: 153px;
        h2 {
          font-size: 35px;
        }
      }
      .description {
        width: 408px;
        height: 56px;
      }
      .btns {
        margin-top: 30px;
        button {
          width: 130px;
          height: 50px;
          font-size: 12px;
        }
        .btn1 {
          box-shadow: 0px 0px 34px rgba(176, 0, 0, 0.3);
        }
      }
    }
  }

  .information {
    &-container-1 {
      .description {
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 14px;
        }
      }
      .companies {
        ul {
          li {
            img {
              width: 100px;
            }
          }
        }
      }
    }
  }

  .stories-section {
    &-container {
      &-boxes {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .box1,
        .box2,
        .box3 {
          position: static;
          margin: 20px auto;
        }
      }
    }

    &-footer {
      &-description {
        width: 355px;
      }
      &-companies {
        img {
          width: 100px;
        }
      }
    }
  }

  .get_in_touch {
    &-content-box {
      h1 {
        font-size: 30px;
        line-height: 48px;
      }
    }
  }

  footer {
    height: auto;
    .links {
      // flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &-box1 {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        p {
          width: 80%;
        }
      }
      .links-boxes {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    height: auto;
    &-links {
      flex-direction: column;
      .services-link {
        margin-bottom: 20px;
      }
      &-center{
        flex-direction: column;
        align-items: center;
      }
      &-right {
        flex-direction: column;
        align-items: center;
        span{
          display: none;
        }
      }
    }
  }

  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .container-content {
      width: 90%;
      align-items: center;
      justify-content: center;
      .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        button {
          width: 100px;
          height: auto;
          font-size: 12px;
        }
      }
    }
    .container-image {
      margin-top: 20px;
      width: 80%;
    }
  }

  .information {
    &-container-1 {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .description {
        margin-bottom: 40px;
        width: 80%;
      }
      .companies{
        width: 100%;
      }
    }
  }

  .payment-plan{
    .content-container {
      .title{
        h1 {
          font-size: 40px;
        }
        h3{
          font-size: 18px;
        }
      }
      .data-selector{
        h4{
          font-size: 16px;
        }
      }
      .subscribe-lvl{
        h3 {
          font-size: 20px;
          width: 50%;
        }
      }
    }
  }

  .stories-section{
    &-footer{
      height: auto;
      flex-direction: column;
      align-items: center;
      &-description{
        width: 100%;
      }
      &-companies{
        width: 100%;
      }
    }
  }

  .get_in_touch{
    &-content-box {
      h1 {
        font-size: 22px;
        line-height: 38px;
      }
      button{
        width: 200px;
      }
    }
  }

  footer{
    .links {
      .links-boxes{
        flex-wrap: wrap;
        .links-box2{
          h2{
            font-size: 16px;
          }

          h3{
            font-size: 16px;
          }
        }
      }
    }
  }
}
