main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .container-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    .menu ul {
      display: flex;

      li {
        position: relative;
        margin: 20px 30px 20px 0;
        @include primary-txt;
        color: rgba(214, 212, 212, 0.88);
        padding-bottom: 10px;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background: rgba(214, 212, 212, 0.88);
        }
        &:hover {
          cursor: pointer;
        }
      }

      .selected-li {
        color: $color-main-red;

        &::after {
          background: $color-main-red;
        }
      }
    }

    .title {
      width: 608px;
      height: 233px;
      h2 {
        font-weight: 900;
        font-size: 64px;
        line-height: 78px;
      }
    }

    .description {
      width: 435px;
      height: 56px;
      margin: 35px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: #808080;
    }

    .btns {
      margin-top: 60px;
      button {
        margin-right: 20px;
        color: white;
        width: 160px;
        height: 50px;
        background: $color-main-red;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-family: "Poppins";
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
      }

      .btn1 {
        box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
        border: 2px solid transparent;

        &:hover {
          background-color: transparent;
          color: black;
        }
      }

      .btn2 {
        background-color: transparent;
        color: black;
        border: 2px solid black;
        &:hover {
          background-color: black;
          color: #fff;
        }
      }
    }
  }

  .container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
