@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;    
}
@import "_variables.scss";
@import "_mixins.scss";
@import "_navbar.scss";
@import "_title_main.scss";
@import "_services_page.scss";
@import "_paymant-plan.scss";
@import "_stories.scss";
@import "_getintouch.scss";